.container{
	text-align: center;
}
#box{
	display:none;
}
.form-control{
	display: inline-block;
	width:50%;
	margin-right:1%;
}
select.form-control{
	width:30%;
}

#options div{
	margin-bottom: 1%;
}
.list{
	margin-bottom:1%;
	border-radius: 25px;
}
#main p{
	font-family: "Times New Roman", Times, serif;
	font-size:20px; 
	word-wrap: break-word;
	color:#4586FB;
}
#main span{
	font-weight: bold;
	font-size:15px; 
}
#main :not(button){
	text-align:left;
}




